h1 {
    font-style: oblique;
    color: lightcoral;
        
}

body {
    min-height: 75rem;
  }

.display-2 {
    
}

p1 {
  font-size: 80px;
  font-style: oblique;
  font-family: cursive;
  color: rgb(51, 201, 14);
}

